{% extends 'base.html'%}
{% load staticfiles %}


{% block content %}


    <h1 class="text-center">Blood has been reserved successfully!</h1>
    <!--<ul>
    {% for product in results %}
            <li>
                <div class="col-sm-6 col-md-4">

                <div class="thumbnail">
                    <!--<img class="img-responsive" src="{% static '/images/bloodbank.jpg' %}"
                         alt="...">-->





                    <!--<div class="caption">
                        <h3>
                            <a href="{{ product.get_absolute_url }}">{{ product.blood_type }}</a>

                        </h3>

                        <p>Quantity: {{ product.quantity }}</p>
                        <p>Anomaly: {{ product.anomaly }}</p>
                        <p>Blood Bank: {{ product.blood_bank.name }}</p>
                        <p>Reports: {{ product.reports }}</p>
                        <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Reserve</button>
                            </div>





                    </div>-->
                <!--</div>
            </div>
            </li>-->
    {% endfor %}
    <!--</ul>
    </header>-->

{% endblock %}
